/* -- DEFAULT -- */
html{
    background-color: lightgray;
}

/* -- NAVBAR -- */
nav{
    margin-bottom: 30px;
    background-color: black;
}
.brand-logo{
    width: 2px;
    height: 2px;
}

.card{

}
.btn-floating{
    position: fixed;
    bottom: 6em;
    right: 4em;
}

/* -- IMPORTANT FIXES -- */
.row .col{
    padding: 0;
}
.content{
    min-height:100%;
    position:relative;
}
footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    height: 70px;
}
