/* -- DEFAULT -- */
html{
    background-color: lightgray;
    overflow-y:scroll;
}

/* -- NAVBAR -- */
nav{
    margin-bottom: 30px;
    background-color: white;
    color: black;
}
nav ul li a{
    color: black
}
nav i{
    color: black
}

.logo{
    margin: 2.5px;
    width: 57.5px !important;
    height: 57.5px !important;
}

.card{

}
.btn-floating{
    position: fixed;
    top: 6.5em;
    right: 4em;
}

/* -- IMPORTANT FIXES -- */
.row .col{
    padding: 0;
}
.content{
    min-height:100%;
    position:relative;
}
footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    height: 70px;
}
